.container-fluid
  .row
    .col-sm-10.col-sm-offset-1
      %br
      %h1.text-center Projects
      %br
      .row.box
        %h4 Adwords Management
        .col-sm-12
          %p
            A dashboard designed for businesses that need to manage multiple client's Google adwords accounts.  It gathers and aggregates adwords data from all of their clients and displays it in a clean format designed in a manner that reflects their business needs.
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/1a.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/1b.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/1c.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/1d.png'
      .row.box
        %h4 YouTube show CMS
        .col-sm-12
          %p
            Designed for the 'Under Contract' YouTube show.  Admin has the ability to manage featured banners, videos, merchandise, news, as well as featured Realtors and Guests.  Videos are automatically added to the website after being uploaded to YouTube video the YouTube API.
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/undercontracta.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/undercontractb.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/undercontractc.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/undercontractd.png'
      .row.box
        %h4 Trivia App
        .col-sm-12
          %p
            A trivia website that rewards the first user with a correct answer with a gift card. Users can select a limited number of categories to be able to answer questions from.  Paying a small amount for a monthly membership allows the user extra perks, including more categories and a heads up on upcoming questions.
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/triviaa.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/triviab.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/triviac.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/triviad.png'
      .row.box
        %h4 Magic The Gathering Rails
        .col-sm-12
          %p
            Still in its infancy, my attempt to programming the complex rules and play of Magic the Gathering the trading card game.  It features every card including its art and stats thanks to the MTG API.  Every card is saved in the database to limit API requests and allow quick parsing.  My first goal is to make a playable match that yeilds to every possible card description / mechanic. After that I am looking forward to writing the computer AI and trying my hand in some machine learning for optimizing decks and winning more matches.
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/magica.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/magicb.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/magicc.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/magicd.png'
      .row.box
        %h4 Energy Sales
        .col-sm-12
          %p
            Designed for clean energy brokers to sell energy to consumers.  Users in need of energy can search for, filter and request clean energy plans. Brokers can manage custom zones and plans, as well as track customer service requests.  Brokers can also import and export plans and zones in bulk via .csv files. 
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/energya.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/energyb.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/energyc.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/energyd.png'
      .row.box
        %h4 Document Retrieval
        .col-sm-12
          %p
            Crowdsourced document retrieval web app still in its infancy.  I participated in the DB model and design.  I also scaffolded the start of the project, including a feature that allows the Admin to create and manage their own custom forms and form fields.
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/documenta.png'
      .row.box
        %h4 Code School Job Board
        .col-sm-12
          %p
            A job board designed exclusively for recent code school graduates.  Job seekers create a profile, and can search, filter, and apply to posted jobs.  Recruiters and Companies looking to hire pay per job posting and can search and filter through prospective candidates and applicants.
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/jobsa.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/jobsb.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/jobsc.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/jobsd.png'
      .row.box
        %h4 SpeediOS
        .col-sm-12
          %p
            A transportation logistics suite.  Allows dealerships to post contracts for transporting vehicles. Vehicle information including weight is automatically generated via the Edmunds api.  Car Hauler owner/operators and other Auto Transportation companies can pay a monthly fee based on the size of their fleet to use the site.  They gain access to automatic invoice and bill of lading generation, calendar & scheduling, fleet management & optimal route calculations, weight estimations, and will have the advantage of using a single interface to find contracts and manage their fleet.
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/speediosa.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/speediosb.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/speediosc.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/speediosd.png'
      .row.box
        %h4 Randy Womack
        .col-sm-12
          %p
            A simple webpage designed for the rap artist Randy Womack.  Features animated transitions between featured music, videos, and other media.
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/randya.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/randyb.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/randyc.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/randyd.png'
      .row.box
        %h4 EXES
        .col-sm-12
          %p
            A simple single page website designed in a day for the music group EXES.  Users can listen to the provided playlist and links to each album on itunes are provided.
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/exesa.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/exesb.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/exesc.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/exesd.png'
      .row.box
        %h4 Spellda
        .col-sm-12
          %p
            A fun top down zombie survival game written completely in Ruby using the GOSU graphics extender. Allows players to choose between characters, shoot arrows and lay exploding bombs, and gain a high score by avoiding the ever spawning zombie AI that chase you.  Features fully animated sprites and fast action.
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/Spelldaa.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/spelldab.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/spelldac.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/spelldad.png'
      .row.box
        %h4 Clay Cribbs
        .col-sm-12
          %p
            My first website customized from a template.  Includes a contact me form and a php mailer.  I had it up and running just a few days after learning HTML.
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/claya.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/clayb.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/clayc.png'
        .col-sm-3.image-container
          = image_tag 'https://s3.us-east-2.amazonaws.com/claycribbs/clayd.png'


#imagemodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{"data-dismiss" => "modal"}
    .modal-content
      .modal-header
        .header-text
      .modal-body
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %img.imagepreview{:src => "", :style => "width: 100%;"}/
      .modal-footer
        .col-xs-12
